extends conteiner
block content
    p Привіт #{userName}
    p якшемаш
    p тут штрих хоче твою хатку орендувати
    h1 Країна #{info.country}, область #{info.region}, місто #{info.city}.
    h3 Площа #{info.volume} м^2, оплата #{info.payment}.
    H2 Дата заїзду #{info.from}, дата виїзду #{info.to}. #{info.pic}.

    h1 Інформація про штриха  #{user.name}, телефон #{user.number}, емайл #{user.email}.
    H2 фото #{user.avatar}.


        //a(href=`http://localhost:5000/houses/${_id}`) підтвердити.
